{% extends 'base.html' %}

{% block content %}

<div class="text-center">

    <h1 class="mb-4">
        Welcome {{ request.user.username }}
    </h1>

    <div class="d-grid gap-3 col-md-4 mx-auto">

        <a href="/profile/"
           class="btn btn-primary">

           My Profile

        </a>

        <a href="/edit-profile/"
           class="btn btn-success">

           Edit Profile

        </a>

        <a href="/logout/"
           class="btn btn-danger">

           Logout

        </a>

    </div>

</div>

{% endblock %}