{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-body text-center">

                {% if profile.profile_picture %}

                    <img src="{{ profile.profile_picture.url }}"
                         width="150"
                         height="150"
                         class="rounded-circle mb-3">

                {% endif %}

                <h2>
                    {{ profile.user.username }}
                </h2>

                <hr>

                <p>
                    <strong>Research Area:</strong>
                    {{ profile.research_area }}
                </p>

                <p>
                    <strong>Institution:</strong>
                    {{ profile.institution }}
                </p>

                <p>
                    <strong>Achievements:</strong><br>
                    {{ profile.achievements|safe }}
                </p>

                <p>
                    <strong>Research Proposals Applied:</strong>
                    {{ profile.proposals_applied }}
                </p>

                <p>
                    <strong>Research Proposals Won:</strong>
                    {{ profile.proposals_won }}
                </p>

                <a href="/edit-profile/"
                   class="btn btn-primary">

                   Edit Profile

                </a>

                {% if not profile.application_submitted %}

                <a href="/apply-adjunct/"
                class="btn btn-success">

                Apply as Adjunct Researcher

                </a>

                {% else %}

                    <div class="alert alert-info mt-3">

                        Application Status:
                        <strong>
                            {{ profile.application_status }}
                        </strong>

                    </div>

                {% endif %}

                {% if profile.cv %}

                    <p>
                        <a href="{{ profile.cv.url }}"
                        target="_blank">

                        View CV

                        </a>
                    </p>

                {% endif %}
                {% if profile.application_letter %}
                    <p>
                        <a href="{{ profile.application_letter.url }}"
                        target="_blank">

                        View Application Letter

                        </a>
                    </p>
                {% endif %}

            </div>

        </div>

    </div>
<!-- show publications -->
    <hr>

<h4>
    Publications
</h4>

{% for publication in researcher.publications_list.all %}

    <div class="card mb-3">

        <div class="card-body">

            <h5>
                {{ publication.title }}
            </h5>

            <p>
                <strong>Journal:</strong>
                {{ publication.journal }}
            </p>

            <p>
                <strong>Year:</strong>
                {{ publication.publication_year }}
            </p>

            <p>
                <strong>Category:</strong>
                {{ publication.category }}
            </p>

            {% if publication.doi_link %}

                <p>

                    <a href="{{ publication.doi_link }}"
                       target="_blank">

                       DOI / Publication Link

                    </a>

                </p>

            {% endif %}

            {% if publication.publication_pdf %}

                <p>

                    <a href="{{ publication.publication_pdf.url }}"
                       target="_blank">

                       View PDF

                    </a>

                </p>

            {% endif %}

        </div>

    </div>

    {% empty %}

    <!-- <p>
        No publications available.
    </p> -->

    {% endfor %}

<a href="/add-publication/"
   class="btn btn-success mb-3">

   Add Publication

</a>

{% for publication in profile.publications_list.all %}

    <div class="card mb-3">

        <div class="card-body">

            <h5>
                {{ publication.title }}
            </h5>

            <p>
                <strong>Journal:</strong>
                {{ publication.journal }}
            </p>

            <p>
                <strong>Year:</strong>
                {{ publication.publication_year }}
            </p>

            <p>
                <strong>Category:</strong>
                {{ publication.category }}
            </p>

            {% if publication.doi_link %}

                <p>

                    <a href="{{ publication.doi_link }}"
                       target="_blank">

                       DOI / Publication Link

                    </a>

                </p>

            {% endif %}

            {% if publication.publication_pdf %}

                <p>

                    <a href="{{ publication.publication_pdf.url }}"
                       target="_blank">

                       View PDF

                    </a>

                </p>

            {% endif %}
            {% empty %}

                <p>
                    No publications added yet.
                </p>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}